<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://fonts.googleapis.com" rel="preconnect" />
	<link crossorigin="" href="https://fonts.gstatic.com" rel="preconnect" />
	<link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet" />
	<title>Modern HTML Email Template</title>
	<style type="text/css">
	
	.mobile_txt{
		font-size: 16px;
		line-height: 24px;
		text-align: justify;
	}
	.footer_txt{
		font-size: 16px;
		line-height: 24px;
		text-align: center;
	}
	@media screen and (max-device-width:640px),
    screen and (max-width:640px) {
      .mobile_txt {
        font-size: 12px !important;
        line-height: 18px !important;
		
      }
	  .footer_txt{
		font-size: 12px !important;
		line-height: 18px !important;
	  }
      .social_media {
        width: 3vw !important;
        padding-left: 5px !important;
      }
      .social_media1 {
        width: 3vw !important;
      }
      .logo {
        width: 20vw !important;
      }
    }
	</style>
</head>
<body style="margin: 0; background-color: #cccccc">
<center style="width: 100%; table-layout: fixed; background-color: #cccccc; padding-bottom: 60px">
<table cellpadding="5" cellspacing="0" role="none" style="background-color: #fff; max-width: 600px; border-spacing: 0; font-family: sans-serif; color: #667085;" width="100%">
	<tbody>
		<tr>
			<td height="8"> </td>
		</tr>
		<tr>
			<td style="padding: 14px 0 4px;">
			<table cellpadding="0" cellspacing="0" role="none" width="100%">
				<tbody>
					<tr>
						<td style="text-align: center; font-size: 0">
						<table cellpadding="0" cellspacing="0" role="none" style="width: 290px; max-width: 50%; display: inline-block; vertical-align: top; text-align: center;">
							<tbody>
								<tr>
									<td style="padding: 10px 40px;"><a href="https://www.upickedme.com"><img alt="" class="logo" src="https://emm.merlinrev.com/emm/frontend/assets/gallery/xf398e19r0daf/upickemelogo.png" title="upickedme logo" /></a></td>
								</tr>
							</tbody>
						</table>

						<table cellpadding="0" cellspacing="0" role="none" style="width: 290px; max-width: 50%; display: inline-block; vertical-align: top; text-align: center;">
							<tbody>
								<tr>
									<td style="display: inline;padding-left:100px;"><a href=""><img alt="" class="social_media" src="https://emm.merlinrev.com/emm/frontend/assets/gallery/xf398e19r0daf/Twitter.png" style="padding-left: 20px; padding-top: 10px; padding-bottom: 10px" width="24" /></a> <a href=""><img alt="" class="social_media" src="https://emm.merlinrev.com/emm/frontend/assets/gallery/xf398e19r0daf/Inst.png" style="padding-left: 20px; padding-top: 10px; padding-bottom: 10px" width="24" /></a> <a href=""><img alt="" class="social_media" src="https://emm.merlinrev.com/emm/frontend/assets/gallery/xf398e19r0daf/Linkedin.png" style="padding-left: 20px; padding-top: 10px; padding-bottom: 10px" width="24" /></a></td>
								</tr>
							</tbody>
						</table>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<tr>
			<td align="center" style="padding-top: 20px;padding-bottom: 20px;"><img alt="" src="https://emm.merlinrev.com/emm/frontend/assets/gallery/xf398e19r0daf/Rectangle3.png" style="width: 90%;" /></td>
		</tr>
		<tr>
			<td style="padding-bottom: 40px;padding-left: 7%;"><img alt="" src="https://emm.merlinrev.com/emm/frontend/assets/gallery/xf398e19r0daf/Someone.png" style="width: 80%;" /></td>
		</tr>
		<tr>
			<td class="mobile_txt" style="padding-bottom: 10px; width: 90%; padding-right: 7%; padding-left: 7%; color: #667085; font-family: 'Inter', sans-serif">Hi [Client],<br />
			<br />
			Exciting news! We wanted to let you know that someone has liked your profile. It's always a great feeling to know that there's interest in what you have to offer. Take a moment to check out their profile and see if there's a mutual interest worth exploring. Who knows, this could be the start of something amazing!<br />
			<br />
			Log in NOW!<br />
			<br />
			All the best,<br />
			[CSR Name]<br />
			UPickedMe</td>
		</tr>
		<tr>
			<td align="center" style="padding-bottom: 20px;"><a href="#"><img alt="" src="https://emm.merlinrev.com/emm/frontend/assets/gallery/xf398e19r0daf/button.png" style="width: 100px;" /></a></td>
		</tr>
		<tr>
			<td align="center" style="padding-bottom: 10px;"><a href=""><img alt="" src="https://emm.merlinrev.com/emm/frontend/assets/gallery/xf398e19r0daf/Group7.png" style="width: 90%;" /></a></td>
		</tr>
		<tr>
			<td align="center" style="padding-left: 7%;padding-right: 7%;">
			<p class="footer_txt" style="color: #9EA6B7; font-family: 'Inter', sans-serif">The dating game is becoming more rewarding to everyone. All it takes is a little curiosity and generosity. Instead of wasting time messaging, like on other dating websites, <span><a href="" style="color: #9EA6B7;font-weight:500;">UPickedMe</a></span></p>
			</td>
		</tr>
		<tr>
			<td align="center"><a class="footer_txt" href="#" style="color: #9EA6B7; text-decoration: none; font-family: 'Inter', sans-serif">Unsubscribe</a></td>
		</tr>
		<tr>
			<td align="center" style="padding-top: 20px;padding-bottom: 30px;"><a href="#"><img alt="" class="social_media1" src="https://emm.merlinrev.com/emm/frontend/assets/gallery/xf398e19r0daf/Twitter1.png" style="padding-right: 5px" width="23.99" /></a> <a href="#"><img alt="" class="social_media1" src="https://emm.merlinrev.com/emm/frontend/assets/gallery/xf398e19r0daf/Insta1.png" style="padding-right: 5px" width="23.99" /></a> <a href="#"><img alt="" class="social_media1" src="https://emm.merlinrev.com/emm/frontend/assets/gallery/xf398e19r0daf/Group.png" width="23.99" /></a></td>
		</tr>
	</tbody>
</table>
</center>
</body>
</html>
